.Projects {
	background-color: #202020;
	color: #FFFFFF;
}

.projects-container {
	display: flex;
	position: relative;
  flex-wrap: wrap;
  align-items: center;
	justify-content: center;
	z-index: 1;
	padding-top: 35px;
}

.projects-title-container {
	flex-direction: column;
}
	.projects-title {
		justify-content: flex-end;
	}
	.projects-underline {
		height: 3px;
		background-color: #4682b4;
		margin-left: auto;
		width: 165px;
	}
	

