.Projects {
	background-color: #202020;
	color: #FFFFFF;
}

.projects-container {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.projects-title {
	justify-content: flex-end;
}

.project {
	z-index: 10;
}

