html, body {
	overflow-x: hidden;
	user-select: none;
}

.App {  
  color: #FFFFFF;
  background-color: #141414;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
	color: #FFFFFF;
  background: linear-gradient(-45deg, #000000, #0c0c0c, #000224, #000000, #111111);
 	background-size: 400% 400%;
 	animation: movingGradient 15s ease infinite;
}

@keyframes movingGradient {
 	0% {
 		background-position: 0% 50%;
 	}
 	50% {
 		background-position: 100% 50%;
 	}
 	100% {
 		background-position: 0% 50%;
 	}
 }

