.App {
	background: linear-gradient(0deg, #366303, #ffe600, #ffc400, #5f0000, #000329, #000000, #000000);
	color: #FFFFFF;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

