.About {
  background-color: #141414;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  width: 110px;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.about-info-container {
  padding: 0 25px;
  z-index: 1;
}

.about-side {
  z-index: 1;
  flex-basis: 100%;
}

.profile-pic {
  max-width: 250px;
  height: auto;
  clip-path: polygon(38% 0, 70% 19%, 83% 29%, 75% 48%, 69% 70%, 76% 100%, 25% 73%, 30% 43%, 0 27%, 0 0);
}

.about-underline {
  height: 3px;
  background-color: #4682b4;
}

.script-box {
  will-change: width, height, left, top;
  position: relative;
}


/* About Side */
.about-side-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(../../images/svg/javascript.svg);
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(../../images/svg/react.svg);
}

.card3 {
  opacity: 1;
  width: 25ch;
  height: 25ch;
  background-image: url(../../images/svg/html-5.svg);
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url(../../images/svg/css-3.svg);
}

.card5 {
  width: 25ch;
  height: 25ch;
  background-image: url(../../images/svg/nodejs.svg);
}

.card6 {
  width: 25ch;
  height: 25ch;
  background-image: url(../../images/svg/sql.svg);
}

