/* Skills List */
.Skills-List-Container {
  padding-top: 30%;
  padding-left: 30%;
}
.Skills-List-Container, .about-btn-container {
  display: none;
}

.skills-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  cursor: default;
}

.skills-list {
  list-style: none;
}
  .skills-list li {
    font-size: 1.5em;
    color: gold;
  }

/* Skills Button */
.about-btn-container {
  position: absolute;
  z-index: 5;
  bottom: 150px;
  right: 150px;
}
  .about-btn {
    font-size: 1em;
    width: 150px;
    padding: 5px 25px;
    margin: 5px;
    background: transparent;
    border: 2px solid #ffd700;
    color: #FFFFFF;
    transition: .3s ease-in-out;
  }
  .about-btn:hover {
    background-color: #ffd700;
    cursor: pointer;
  }

