.Splash {
  font-family: sans-serif;
}

.lightning-bolt {
  will-change: transform, opacity;
  max-width: 150px;
  height: auto;
  position: fixed;
  position-anchor: --tooltip;
  position-area: top right;
  z-index: 1;
  transform: rotate(45deg) translate(26px, 4px);
}

.lightning-bolt-two {
  will-change: transform, opacity;
  max-width: 145px;
  height: auto;
  position: fixed;
  position-anchor: --tooltip;
  position-area: top right;
  transform: rotate(45deg) translate(29px, 2px);
}

.flicker {
  animation: flicker 4s ease infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.anchor {
  anchor-name: --tooltip;
}

.intro-first-name,
.intro-last-name,
.intro-titles {
  will-change: transform, opacity;
  display: flex;
}

.intro-first-name,
.intro-last-name {
  font-size: 2em;
  text-transform: uppercase;
}

.intro-first-name {
  padding-bottom: 25px;
}

.intro-titles {
  font-size: 20px;
  justify-content: center;
}

.arrow-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 55px;
}
.projects-arrow-button {
  cursor: pointer;
  animation: movingArrow 4s ease infinite;
}

.projects-arrow-button-two {
  cursor: pointer;
  margin-top: -25px;
  animation: movingArrowTwo 4s ease infinite;
}

@keyframes movingArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes movingArrowTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
