.Contact {
  position: relative;
  padding: 50px;
  color: #45474A;
  text-align: center;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.github-icon, .linkedin-icon {
  padding: 0 15px;
}

.github-icon:hover, .linkedin-icon:hover {
  cursor: pointer;
  color: gold;
}
