/* iPhone 6/7/8 */
@media screen and (min-width: 350px) and (max-width: 600px) {
  .clipped-nav {
    padding: 0;
    justify-content: space-around;
  }

  .clipped-nav .nav-link {
    padding: 0;
  }

  .about-info-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-list {
    flex-wrap: wrap;
  }
  .skills-list div {
    width: 33%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
}

@media screen and (min-width: 550px) {
  .profile-pic {
    max-width: 320px;
  }
}

@media screen and (min-width: 600px) {
  .clipped-nav {
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  }

  .about-info-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  /* Nav */
  .nav-wrapper {
    min-height: 66px;
  }
}

@media screen and (min-width: 700px) {
  /* About Section */
  .about-container {
    flex-direction: row;
  }

  .about-info-container {
    flex-direction: row;
  }

  .about-side-container {
    display: block;
  }

  .Skills-List-Container,
  .about-btn-container {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .about-info-container {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1100px) {
  section.padded-section {
    padding: 100px 150px;
  }
}
