/* iPhone 6/7/8 */
@media screen and (min-width: 350px) and (max-width: 600px) {
  .clipped-nav {
    padding: 0;
    justify-content: space-around;
  }

  .clipped-nav .nav-link {
    padding: 0;
  }

  .about-info-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 550px) {
  .profile-pic {
    max-width: 320px;
  }
}

@media screen and (min-width: 600px) {
  .clipped-nav {
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  }

  .about-info-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (max-height: 600px) {
  /* Splash */
  .lightning-bolt {
    top: 19vh;
  }

  .lightning-bolt-two {
    top: 20vh;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  /* Splash */
  .lightning-bolt {
    top: 18vh;
  }

  .lightning-bolt-two {
    top: 20vh;
  }

  /* Nav */
  .nav-wrapper {
    min-height: 66px;
  }
}

@media screen and (min-height: 650px) {
  /* Splash */
  .lightning-bolt {
    top: 22vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 23vh;
    left: 49%;
  }
}

@media screen and (min-height: 700px) {
  /* Splash */
  .lightning-bolt {
    top: 23vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 24.5vh;
    left: 49%;
  }
}

@media screen and (min-width: 700px) {
  /* About Section */
  .about-container {
    flex-direction: row;
  }

  .about-info-container {
    flex-direction: row;
  }

  .about-side-container {
    display: block;
  }

  .Skills-List-Container,
  .about-btn-container {
    display: block;
  }
}

@media screen and (min-width: 800px) and (min-height: 800px) {
  /* Splash */
  .lightning-bolt {
    top: 26vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 27vh;
    left: 49%;
  }
}

@media screen and (min-width: 900px) {
  .about-info-container {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  /* Splash */
  .lightning-bolt {
    top: 29vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 30vh;
    left: 49%;
  }
}

@media screen and (min-width: 1100px) {
  section.padded-section {
    padding: 100px 150px;
  }
}

@media screen and (min-width: 1200px) {
  /* Splash */
  .lightning-bolt {
    max-width: 205px;
    top: 32vh;
    left: 49%;
  }

  .lightning-bolt-two {
    max-width: 198px;
    top: 33vh;
    left: 49%;
  }
}

@media screen and (min-width: 1200px) and (min-height: 767px) {
  .lightning-bolt {
    top: 20vh;
  }

  .lightning-bolt-two {
    top: 21.5vh;
  }
}

@media screen and (min-width: 1200px) and (min-height: 950px) {
  .lightning-bolt {
    top: 25vh;
  }

  .lightning-bolt-two {
    top: 26.5vh;
  }
}

@media screen and (min-height: 1000px) {
  /* Splash */
  .lightning-bolt {
    max-width: 185px;
    top: 31vh;
    left: 49%;
  }

  .lightning-bolt-two {
    max-width: 180px;
    top: 32vh;
    left: 49%;
  }
}

@media screen and (min-height: 1150px) {
  /* Splash */
  .lightning-bolt {
    top: 31vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 32vh;
    left: 49%;
  }
}

@media screen and (min-height: 1300px) {
  /* Splash */
  .lightning-bolt {
    top: 33vh;
    left: 49%;
  }

  .lightning-bolt-two {
    top: 34vh;
    left: 49%;
  }
}

@media screen and (min-width: 1200px) and (max-height: 766px) {
  /* Splash */
  .lightning-bolt {
    max-width: 205px;
    top: 18vh;
    left: 49%;
  }

  .lightning-bolt-two {
    max-width: 198px;
    top: 20vh;
    left: 49%;
  }
}

@media screen and (min-width: 1350px) {
}

@media screen and (min-width: 1500px) {
}
