section.padded-section {
  padding: 100px 20px;
}

section.wide-padded-section {
  padding: 100px 20px;
}

.section-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffd700;
  font-size: 2em;
  margin: 0;
  cursor: default;
}

p {
  cursor: default;
}